* {
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
  margin-top: 42px;
  font-family: "Nunito", sans-serif;
  font-size: 34px;
  font-weight: 700;
}
.one {
  width: 46px;
  height: 46px;
  color: #0077b5;
}
.regsubheading {
  text-align: center;
  margin-top: 12px;
  font-family: "Nunito", sans-serif;
  font-size: 20.64px;
  font-weight: 400;
  color: #11175d;
}

.reginput {
  width: 100%;
  margin-top: 42px !important;
  font-family: "Nunito", sans-serif;
  font-size: 13.76px !important;
  font-weight: 500 !important;
}

.reglink {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  font-size: 13.34px;
  font-family: "Nunito", sans-serif;
  font-size: 13.34px;
}
.reglink a {
  color: #ea6c00;
  font-weight: 700;
  text-decoration: none;
}
.inputboxcontainer {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.container {
  margin: 0 auto;
  width: 500px;
  margin-top: 140px;
}

.logoicon {
  text-align: center;
}

.error {
  margin-top: 20px;
}
.eyeicon {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.lbuttonloading {
  background: rgb(59, 70, 78) !important;
}
/* ==============NewsFeed Start================================================== */
/* =============================================================================== */
.topbar {
  background: #fff;
  height: 80px;
}

.newsfeed-container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 12px;
  border-bottom: 1px solid #000000;
}

.postbox {
  background: #fff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 135px;
  padding: 0 30px;
  position: relative;
  margin-top: 20px;
}

.newsfeedInput {
  width: 100%;
  height: 67px !important;
}

.iconholder {
  display: flex;
  column-gap: 20px;
  position: absolute;
  bottom: 45px;
  right: 30px;
}

.send-icon {
  font-size: 24px;
  color: #fff;
  background: #0077b5;
  padding: 3px;
  cursor: pointer;
}

.send-icon:hover {
  background: #01324d;
}

.pic-icon {
  font-size: 24px;
  color: #000000;
  padding: 3px;
  cursor: pointer;
}

.post-title {
  display: flex;
}

.post {
  padding: 0 30px;
}

.postp {
  padding: 0 50px;
}

.card-topper {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  column-gap: 20px;
}

.posterimg {
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.posterimg img {
  width: 100%;
}

.bg-color {
  background: #e5e5e5;
}
